doctype
html
    head
       meta(charset='utf-8')
       title Binary for Noobs
       link(rel='stylesheet', href='bower_components/animate.css/animate.min.css')
       link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Orbitron:700,500')
       link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Arvo:400,700')
       link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600', rel='stylesheet', type='text/css')
       link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
       link(rel='stylesheet', href='assets/css/style.css')
    body
        #blurb
            .contacts
                a(href='https://github.com/husgad', target='_blank')
                    i(class='fa fa-github fa-1x')  See on GitHub
            .words.clearfix
                .binary
                    each val in ['B', 'i', 'n', 'a', 'r', 'y']
                        span= val
                .for
                    each val in ['F', 'o', 'r']
                        span= val
                .noobs
                    each val in ['N', 'o', 'o', 'b', 's']
                        span= val
            .playBtn
                button
                    a(href='#playground') Play
        #playground
            .task
                h1 Represent
                h1(id='goal') a decimal
                h1 by clicking on the bit-bulbs!
            .bulb
                each val, index in {1: 1, 2: 2, 4: 4, 8: 8, 16: 16, 32: 32, 64: 64, 128: 128}
                    div(class=val + ' decimals')
                        p(class='ind')= index
                        i(class='fa fa-lightbulb-o fa-5x')
            #result
                h2 Perfect!
            .settings
                .showHide
                    p Hide
                    i(class='fa fa-angle-down fa-2x')
                .reset
                    button(id='reset') Reset
                .hide 
                    p Hide decimals
                    input(type='checkbox', id='hide')
                .set
                    p Set your goal
                    input(type='text', id='goalValue', placeholder='ex. 83')
                    button(id='goalSet') Set
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
        script(src='bundle.js')
                    
                    